<div
  block:scope
  ...attributes
>
  {{#if @records}}
    {{#each @records as |record index|}}
      {{#unless index}}
        <Ui::List::Row
          @metaFields={{@metaFields}}
          @record={{record}}
          @onClick={{@onClick}}
          @head={{true}}
        />
      {{/unless}}
      <Ui::List::Row
        @disabledRecords={{@disabledRecords}}
        @metaFields={{@metaFields}}
        @onClick={{@onClick}}
        @record={{record}}
        @selectedRecords={{@selectedRecords}}
      />
    {{/each}}
  {{else}}
    Keine {{@modelName}} für diese Auswahl
  {{/if}}
</div>
