<div class="{{elem 'wrapper'}}">
  <div class="{{elem 'field'}}">
    {{input value=search focus-in='activate'}}
    <div class="{{elem 'clear'}}" {{action 'clear'}}>
      Clear
    </div>
  </div>
  <div class="{{elem 'cancel'}}" {{action 'cancel'}}>
    Cancel
  </div>
</div>
<div class="{{elem 'overlay'}}" {{action 'cancel'}}></div>
