<Ui::Window ...attributes>
  <:title>
    {{#if @model.isNew}}
      {{t "recordDetail.new" modelName=(t (concat "models." @model.modelName))}}
    {{else}}
      {{@model.displayLabel}}
    {{/if}}
  </:title>

  <:toolbar>
    <Ui::Button
      @icon="save"
      @label="Save"
      @style="primary"
      @type="submit"
      form={{@model.id}}
    />

    <Ui::Button
      @icon="delete"
      @onClick={{this.deleteRecord}}
      @style="outline"
    />

    <Ui::Button
      @icon="close"
      @style="outline"
      @onClick={{this.rollbackRecord}}
    />
  </:toolbar>

  <:body>
    <Ui::Form
      @model={{@model}}
      @submit={{this.saveRecord}}
      id={{@model.id}}
      as |form|
    >
      {{component
        (concat "record-detail/for/" @model.modelName)
        form=form
      }}
    </Ui::Form>
  </:body>

  <:bottombar>
    <div block:class="meta">
      {{t "recordDetail.updatedAt"}}
      {{format-date @model.updatedAt}}
      /
      {{t "recordDetail.createdAt"}}
      {{format-date @model.createdAt}}
    </div>
  </:bottombar>
</Ui::Window>
