<Ui::Window ...attributes>
  <:title>
    {{@model.displayLabel}}
  </:title>

  <:toolbar>
    <Ui::Button
      @icon="save"
      @label="Save"
      @style="primary"
      @type="submit"
      form={{@model.id}}
    />

    <Ui::Button
      @icon="delete"
      @onClick={{this.delete}}
      @style="outline"
    />

    <Ui::Button
      @icon="close"
      @style="outline"
      @type="reset"
      form={{@model.id}}
    />
  </:toolbar>

  <:body>
    <Ui::Form
      @model={{@model}}
      id={{@model.id}}
      {{on "submit" this.save}}
      {{on "reset" this.cancel}}
      as |form|
    >
      {{component
        (concat "record-detail/for/" @model.modelName)
        form=form
      }}
    </Ui::Form>
  </:body>

  <:bottombar>
    <div block:class="meta">
      {{t "recordDetail.updatedAt"}}
      {{format-date @model.updatedAt}}
      /
      {{t "recordDetail.createdAt"}}
      {{format-date @model.createdAt}}
    </div>
  </:bottombar>
</Ui::Window>
