<Ui::Window {{did-insert this.loadChangeset}} ...attributes>
  <:title>
    {{#if this.changeset.isNew}}
      {{t "recordDetail.new" modelName=(t (concat "models." this.modelName))}}
    {{else}}
      {{this.changeset.displayLabel}}
    {{/if}}
  </:title>

  <:toolbar>
    <Ui::Button
      @icon="save"
      @label="Save"
      @style="primary"
      @type="submit"
      form={{this.changeset.id}}
    />

    <Ui::Button
      @icon="delete"
      @onClick={{this.deleteRecord}}
      @style="outline"
    />

    <Ui::Button
      @icon="close"
      @style="outline"
      @type="reset"
      form={{this.changeset.id}}
    />
  </:toolbar>

  <:body>
    {{#if this.changeset}}
      <Ui::Form
        @changeset={{this.changeset}}
        {{on "submit" (fn this.saveRecord this.changeset)}}
        {{on "reset" this.rollbackRecord}}
        id={{this.changeset.id}}
        as |form|
      >
        {{component
          (concat "record-detail/for/" this.modelName)
          form=form
        }}
      </Ui::Form>
    {{/if}}
  </:body>

  <:bottombar>
    <div block:class="meta">
      {{t "recordDetail.updatedAt"}}
      {{format-date this.changeset.updatedAt}}
      /
      {{t "recordDetail.createdAt"}}
      {{format-date this.changeset.createdAt}}
    </div>
  </:bottombar>
</Ui::Window>
