<div
  block:scope
  ...attributes
>
  {{#if this.label}}
    <label block:class="label" for={{this.fieldId}}>
      {{this.label}}
    </label>
  {{/if}}

  {{#if this.isRelation}}
    <Ui::Form::Field::Relation
      @property={{@property}}
      @changeset={{@changeset}}
    />
  {{else if this.isTextarea}}
    <textarea
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      rows="5"
      {{on "input" this.updateField}}
    >{{changeset-get @changeset @property}}</textarea>
  {{else if this.isCheckbox}}
    <input
      checked={{changeset-get @changeset @property}}
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      type={{this.type}}
      {{on "input" this.updateCheckbox}}
    />
  {{else}}
    <input
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      type={{this.type}}
      value={{changeset-get @changeset @property}}
      {{on "input" this.updateField}}
    />
  {{/if}}

  {{#if this.errors}}
    <div block:class="errors">
      {{#each (get this.errors "validation") as |error|}}
        <div block:class="error">
          {{t (concat "validations.errors." error.type) description=this.label}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
