<div
  block:scope
  ...attributes
>
  {{#if this.isLabeled}}
    <label block:class="label" for={{this.fieldId}}>
      {{this.label}}
    </label>
  {{/if}}

  {{#if this.isDirty}}
    <Ui::Button
      @icon="restore"
      @style="inline"
      @onClick={{this.rollbackProperty}}
      block:class="rollback"
    />
  {{/if}}


  {{#if this.isRelation}}
    <Ui::Form::Field::Relation
      @property={{@property}}
      @changeset={{@changeset}}
      @isInlineForm={{@isInlineForm}}
    />
  {{else if this.isTextarea}}
    <Ui::Form::Field::Textarea
      @changeset={{@changeset}}
      @property={{@property}}
      aria-label={{unless this.isLabeled this.label}}
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      rows="5"
      type="text"
    />
  {{else if this.isCheckbox}}
    <Ui::Form::Field::Checkbox
      @changeset={{@changeset}}
      @property={{@property}}
      aria-label={{unless this.isLabeled this.label}}
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      type={{this.type}}
    />
  {{else if this.isDate}}
    <Ui::Form::Field::Date
      @changeset={{@changeset}}
      @property={{@property}}
      aria-label={{unless this.isLabeled this.label}}
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      type={{this.type}}
    />
  {{else}}
    <Ui::Form::Field::Default
      @changeset={{@changeset}}
      @property={{@property}}
      aria-label={{unless this.isLabeled this.label}}
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      type={{this.type}}
    />
  {{/if}}

  {{#if this.hint}}
    <div block:class="hint">
      {{this.hint}}
    </div>
  {{/if}}

  {{#if this.errors}}
    <div block:class="errors">
      {{#each (get this.errors "validation") as |error|}}
        <div block:class="error">
          {{t (concat "validations.errors." error.type) description=this.label}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
