<div
  block:scope
  ...attributes
>
  {{#if @records}}
    {{#each @records as |record index|}}
        {{#unless index}}
          <List::Row
            @metaFields={{@metaFields}}
            @onClick={{fn this.openRecord record}}
            @record={{record}}
            @head={{true}}
          />
        {{/unless}}
        <List::Row
          @metaFields={{@metaFields}}
          @onClick={{fn this.openRecord record}}
          @record={{record}}
        />
    {{/each}}
  {{else}}
    Keine {{@modelName}} für diese Auswahl
  {{/if}}
</div>
