<form
  block:scope
  form:scope
  {{on "submit" (fn this.formActions.saveRecord this.changeset)}}
  {{on "reset" (fn this.formActions.rollbackRecord this.changeset)}}
  ...attributes
>
  {{#let (hash
    field=(component "form/field"
      changeset=this.changeset
      modelName=this.modelName
    ))
    as |form|
  }}
    {{#if hasBlock}}
      {{yield (hash
        changeset=this.changeset
        form=form
      )}}
    {{else}}
      {{component
        (concat "form/for/" this.modelName)
        changeset=this.changeset
        form=form
      }}
    {{/if}}
  {{/let}}

  <div block:class="actions">
    <button
      button:scope
      button:style="primary"
      type="submit"
    >
      Save
    </button>

    <button
      button:scope
      button:style="secondary"
      type="reset"
    >
      Reset
    </button>

    <Ui::Button
      @icon="delete"
      @onClick={{fn this.formActions.deleteRecord this.changeset}}
      @style="outline"
    />
  </div>
</form>
Changes:<br>
{{#each this.changeset.changes as |change|}}
  <li>
    {{change.key}}: {{change.value}}
  </li>
{{/each}}
