<form
  block:scope
  form:scope
  {{on "submit" (fn @save @changeset)}}
  ...attributes
>
  {{component
    (concat "form/" this.modelName)
    changeset=@changeset
    form=(hash
      field=(component "form/field"
        changeset=@changeset
        delete=@delete
        rollback=@rollback
        modelName=this.modelName
        save=@save
      )
    )
  }}

  <div block:class="actions">
    <button
      button:scope
      button:primary={{true}}
      type="submit"
    >
      Save
    </button>

    <button
      button:scope
      button:secondary={{true}}
      type="reset"
      {{on "click" (fn @rollback @changeset)}}
    >
      Reset
    </button>

    <button
      button:scope
      button:secondary={{true}}
      type="button"
      {{on "click" (fn @delete @changeset)}}
    >
      Delete
    </button>
  </div>
</form>
