<form
  block:scope
  form:scope
  {{on "submit" (fn this.saveRecord this.changeset)}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield (hash
      changeset=this.changeset
      form=(hash
        field=(component "form/field"
          changeset=this.changeset
          modelName=this.modelName
        )
      )
    )}}
  {{else}}
    {{component
      (concat "form/" this.modelName)
      changeset=this.changeset
      form=(hash
        field=(component "form/field"
          changeset=this.changeset
          modelName=this.modelName
        )
      )
    }}
  {{/if}}

  <div block:class="actions">
    <button
      button:scope
      button:primary={{true}}
      type="submit"
    >
      Save
    </button>

    <button
      button:scope
      button:secondary={{true}}
      type="reset"
      {{on "click" (fn this.rollbackRecord this.changeset)}}
    >
      Reset
    </button>

    <button
      button:scope
      button:secondary={{true}}
      type="button"
      {{on "click" (fn this.deleteRecord this.changeset)}}
    >
      Delete
    </button>
  </div>
</form>
Changes:<br>
{{log this.changeset.changes}}
{{#each this.changeset.changes as |change|}}
  <li>
    {{change.key}}: {{change.value}}
  </li>
{{/each}}
