<form
  block:scope
  form:scope
  {{on "submit" (fn this.formActions.saveRecord this.changeset)}}
  {{on "reset" (fn this.formActions.rollbackRecord this.changeset)}}
  ...attributes
>
  {{#let (hash
    field=(component "form/field"
      changeset=this.changeset
      modelName=this.modelName
    ))
    as |form|
  }}
    {{#if hasBlock}}
      {{yield (hash
        changeset=this.changeset
        form=form
      )}}
    {{else}}
      {{component
        (concat "form/for/" this.modelName)
        changeset=this.changeset
        form=form
      }}
    {{/if}}
  {{/let}}

  <div block:class="actions">
    <Ui::Button
      @icon="save"
      @label="Save"
      @style="primary"
      @type="submit"
    />

    <Ui::Button
      @icon="cancel"
      @label="Cancel"
      @style="secondary"
      @type="reset"
    />

    <Ui::Button
      @icon="delete"
      @onClick={{fn this.formActions.deleteRecord this.changeset}}
      @style="outline"
    />
  </div>
</form>
