Question:
{{input
  type="text"
  value=model.label
}}

<br>
<br>
Answers:
<ul>
  {{#each model.answers as |answer|}}
    <li>
      {{input
        type="text"
        value=answer.label
      }}
      {{input
        type="text"
        value=answer.value
      }}
      {{input
        type="text"
        value=answer.information
      }}
    </li>
  {{/each}}
</ul>
<div {{action 'addAnswer' model}}>Antwort hinzufügen</div>
<br>
<br>
Quelle:
{{input
  type="text"
  value=model.source
}}
<br>
Stand:
{{input
  type="date"
  value=model.date
}}
<div {{action 'save' model}}>Save</div>
