<div
  block:scope
  {{did-insert (perform this.queryRecords)}}
  ...attributes
>
  <Ui::Window>
    <:title>
      {{t (concat "models.plurals." @modelName)}}
    </:title>
    <:toolbar>
      <Ui::Button
        @disabled={{is-empty this.selectedRecords}}
        @label="Assign"
        @onClick={{fn @onAssign this.selectedRecords}}
        @style="primary"
      />
      <Ui::Button
        @label="Close"
        @onClick={{@onClose}}
        @style="secondary"
      />
    </:toolbar>
    <:body>
      {{#if this.records}}
        <Ui::List
          @records={{this.records}}
          @onClick={{this.selectRecord}}
          @disabledRecords={{@disabledRecords}}
          @selectedRecords={{this.selectedRecords}}
        />
      {{/if}}
    </:body>

    <:bottombar>
      {{#if this.records}}
        <Ui::Pagination
          @records={{this.records}}
          @selectPage={{this.selectPage}}
        />
      {{/if}}
    </:bottombar>
  </Ui::Window>
</div>
