<div
  block:scope
  ...attributes
>
  <Await @promise={{this.fetchRecords}} as |await|>
    <await.Pending>
      Loading records...
    </await.Pending>

    <await.Fulfilled as |records|>
      <Ui::List
        @records={{records}}
        @onClick={{this.selectRecord}}
        @disabledRecords={{@disabledRecords}}
        @selectedRecords={{this.selectedRecords}}
      />

      <Ui::Button
        @disabled={{is-empty this.selectedRecords}}
        @label="Assign"
        @onClick={{fn @onAssign this.selectedRecords}}
        @style="primary"
      />
      <Ui::Button
        @label="Close"
        @onClick={{@onClose}}
        @style="secondary"
      />
    </await.Fulfilled>

    <await.Rejected>
      Something went wrong :(
    </await.Rejected>
  </Await>
</div>
