<div
  block:scope
  {{did-insert (perform this.queryRecords)}}
  ...attributes
>
  <Ui::Window @showBottombar={{this.hasPagination}}>
    <:title>
      {{t (concat "models.plurals." @modelName)}}
    </:title>
    <:toolbar>
      <Ui::Search @updateSearch={{this.updateSearch}} />
      <Ui::Button
        @disabled={{is-empty this.selectedRecords}}
        @label="Assign"
        @onClick={{fn @onAssign this.selectedRecords}}
        @style="primary"
      />
      <Ui::Button
        @icon="close"
        @onClick={{@onClose}}
        @style="outline"
      />
    </:toolbar>
    <:body>
      <Ui::List
        @disabledRecords={{@disabledRecords}}
        @modelName={{@modelName}}
        @onClick={{this.selectRecord}}
        @records={{this.records}}
        @selectedRecords={{this.selectedRecords}}
      />
    </:body>

    <:bottombar>
      <Ui::Pagination
        @records={{this.records}}
        @selectPage={{this.selectPage}}
      />
    </:bottombar>
  </Ui::Window>
</div>
