<div class="{{bem block 'section' 'left'}}">
  {{multiple-from-elsewhere name="navigation-bar-left"}}
</div>
<div class="{{bem block 'section' 'title'}}">
  {{#from-elsewhere name="navigation-bar-title" as |header|}}
    {{header.title}}
  {{/from-elsewhere}}
</div>
<div class="{{bem block 'section' 'right'}}">
  {{multiple-from-elsewhere name="navigation-bar-right"}}
</div>
