<li
  block:scope
  block:is-dragging={{this.isDragging}}
  {{sortable-item
    model=@record
    isDraggingDisabled=(not @sortable)
    groupName=@groupName
    onDragStart=this.dragStarted
    onDragStop=this.dragStopped
  }}
  ...attributes
>
  {{#if @sortable}}
    <div block:class="handle" {{sortable-handle}}>
      {{svg-jar "drag_indicator"}}
    </div>
  {{/if}}

  {{#if @isInlineForm}}
    <div block:class="form">
      <Ui::Form @model={{this.record}} as |form|>
        {{component
          (concat "record-detail/for/" this.record.modelName)
          form=form
          groupName=@groupName
        }}
      </Ui::Form>
    </div>
  {{else}}
    <div block:class="label">
      {{this.record.displayLabel}}
    </div>
  {{/if}}

  <div block:class="actions">
    {{#if @isInlineForm}}
      <Ui::Button
        @icon={{if this.accodrionIsOpen "expand_less" "expand_more"}}
        @onClick={{fn this.accordion.toggleItem this.accodrionItemId}}
        @style="inline"
        aria-expanded={{this.accodionIsOpen}}
        aria-controls={{this.accordionBodyId}}
        id={{this.accordionToggleId}}
      />

      <Ui::Button
        @icon="delete"
        @onClick={{fn @deleteRecord this.record}}
        @style="inline"
      />
    {{else}}
      <Ui::Button
        @icon="open"
        @onClick={{fn @openRecord this.record}}
        @style="inline"
      />

      <Ui::Button
        @icon="remove"
        @onClick={{fn @removeRecord @record}}
        @style="inline"
      />
    {{/if}}
  </div>
</li>
