<div
  block:scope
  ...attributes
>
  {{#if this.label}}
    <label block:class="label" for={{this.fieldId}}>
      {{this.label}}
    </label>
  {{/if}}

  {{#if this.isHasMany}}
    <Form::Field::HasMany
      @disabled={{@disabled}}
      @property={{@property}}
      @relationName={{@relationName}}
      @leftJoin={{@leftJoin}}
      @parentChangeset={{@changeset}}
      @records={{changeset-get @changeset @property}}
    />
  {{else}}
    <input
      disabled={{@disabled}}
      id={{this.fieldId}}
      name={{this.fieldId}}
      placeholder={{this.placeholder}}
      type={{this.type}}
      value={{changeset-get @changeset @property}}
      {{on "input" this.updateField}}
    />
  {{/if}}

  {{#if this.errors}}
    <div block:class="errors">
      {{#each (get this.errors "validation") as |error|}}
        <div block:class="error">
          {{t (concat "validations.errors." error.type) description=this.label}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
