<div
  block:scope
  ...attributes
>
  <div block:class="label" role="button" {{on "click" this.toggleForm}}>
    {{@record.displayLabel}}
  </div>
  {{#if this.showForm}}
    <div block:class="form">
      <Form
        @changeset={{this.changeset}}
        @save={{@save}}
        @delete={{@delete}}
        @rollback={{@rollback}}
      />
    </div>
  {{/if}}
</div>
