<div block:scope block:disabled={{@disabled}} ...attributes>
  <AnimatedContainer>
    <ol
      block:class="records"
      {{sortable-group onChange=this.reorderRecords groupName=this.groupName}}
    >
      {{#animated-each this.records
        use=this.listTransition
        duration=300
        as |record|
      }}
        <Ui::Form::Field::Relation::Record
          @record={{record}}
          @openRecord={{this.openRecord}}
          @removeRecord={{this.removeRecord}}
          @deleteRecord={{this.deleteRecord}}
          @sortable={{this.isHasManyRelation}}
          @groupName={{this.groupName}}
          @isInlineForm={{@isInlineForm}}
        />
      {{/animated-each}}
    </ol>
  </AnimatedContainer>

  {{#if this.isRecordAssignable}}
    <div block:class="actions">
      {{#if @isInlineForm}}
        <Ui::Button
          @icon="add"
          @label="Neu"
          @onClick={{fn this.createNewRecord}}
          block:class="primary"
        />
      {{else}}
        <Ui::Button
          @icon="search"
          @label="Suchen und hinzufügen"
          @onClick={{fn this.openRecordList}}
          block:class="primary"
        />

        <Ui::Button
          @icon="add"
          @label="Neu"
          @onClick={{fn this.openNewRecord}}
          block:class="secondary"
        />
      {{/if}}
    </div>
  {{/if}}
</div>


<Ui::Modal @onClose={{this.closeRecordList}} @isOpen={{this.isRecordListOpen}}>
  <Ui::Form::Field::Relation::Assign
    @multiple={{this.isHasManyRelation}}
    @modelName={{this.relationType}}
    @assigned={{this.records}}
    @onAssign={{this.assignRecords}}
    @onClose={{this.closeRecordList}}
    @disabledRecords={{this.records}}
  />
</Ui::Modal>
