<div
  block:scope
  block:layout={{@record.modelName}}
  block:is-head={{@head}}
  block:is-even={{this.isEven}}
  block:is-selected={{this.isSelected}}
  block:is-disabled={{this.isDisabled}}
  {{on "click" (fn @onClick @record this.isDisabled)}}
  ...attributes
>
  {{#each this.columns as |column|}}
    <Ui::List::Row::Column
      @column={{column}}
      @head={{@head}}
      @modelName={{@record.modelName}}
      @record={{@record}}
    />
  {{/each}}
</div>

