{{#if this.breadcrumb.hasRoutes}}
  <ol
    block:scope
    {{did-insert (fn this.setHoverIndex undefined)}}
    ...attributes
  >
    <li
      block:class="item"
      role="button"
      {{on "mouseover" (fn this.setHoverIndex -1)}}
      {{on "mouseout" this.removeHoverIndex}}
    >
      {{#let this.breadcrumb.baseRoute as |route|}}
        <LinkTo @route={{route.routeName}}>
          <div block:class="name">
            {{route.name}}
          </div>
        </LinkTo>
      {{/let}}
    </li>

    {{#animated-each this.breadcrumb.routes
      use=this.breadcrumbTransitiom
      duration=400
      initialInsertion=false
      finalRemoval=false
      as |route index|
    }}
      <li
        block:class="item"
        block:is-current={{eq route this.breadcrumb.currentRoute}}
        block:is-to-rollback={{gt index this.hoverIndex}}
        block:has-changes={{route.hasChanges}}
        role="button"
        {{on "mouseover" (fn this.setHoverIndex index)}}
        {{on "mouseout" this.removeHoverIndex}}
      >
        <LinkTo
          @route={{route.routeName}}
          @model={{if route.routeModel route.routeModel}}
        >
          <div block:class="name">
            {{route.name}}
          </div>
          <div block:class="forms">
            {{#each route.forms as |form|}}
              {{form.model.displayLabel}}
            {{/each}}
          </div>
        </LinkTo>
        {{#if route.changes}}
          <div block:class="changes">
            {{route.changes}}
          </div>
        {{/if}}
      </li>
    {{/animated-each}}
  </ol>
{{/if}}

