{{#if this.breadcrumb.hasItems}}
  <ol
    block:scope
    {{did-insert (fn this.setHoverIndex undefined)}}
    ...attributes
  >
    <li
      block:class="item"
      {{on "mouseover" (fn this.setHoverIndex -1)}}
      {{on "mouseout" this.removeHoverIndex}}
    >
      {{#let this.breadcrumb.baseItem as |item|}}
        <LinkTo @route={{item.routeName}}>
          <div block:class="name">
            {{item.name}}
          </div>
        </LinkTo>
      {{/let}}
    </li>

    {{#animated-each this.breadcrumb.items
      use=this.breadcrumbTransitiom
      duration=400
      initialInsertion=false
      finalRemoval=false
      as |item index|
    }}
      <li
        block:class="item"
        block:is-current={{eq item this.breadcrumb.currentItem}}
        block:is-to-rollback={{gt index this.hoverIndex}}
        block:has-changes={{item.hasChanges}}
        {{on "mouseover" (fn this.setHoverIndex index)}}
        {{on "mouseout" this.removeHoverIndex}}
      >
        <LinkTo
          @route={{item.routeName}}
          @model={{if model.routeModel item.routeModel}}
        >
          <div block:class="name">
            {{item.name}}
          </div>
        </LinkTo>
        {{#if item.changes}}
          <div block:class="changes">
            {{item.changes}}
          </div>
        {{/if}}
      </li>
    {{/animated-each}}
  </ol>
{{/if}}

