<Ui::Window ...attributes>
  <:title>
    {{t "signIn.headline"}}
  </:title>

  <:body>
    <Ui::Form
      @changeset={{this.userChangeset}}
      @model={{this.user}}
      {{on "submit" (fn this.signIn this.userChangeset)}}
      as |form|
    >
      <div layout:scope>
        <div layout:class="item">
          <form.field @property="email" @type="email" />
        </div>
        <div layout:class="item">
          <form.field @property="password" @type="password" />
        </div>
      </div>

      <Ui::Button
        @label={{t "signIn.submit"}}
        @style="primary"
        @type="submit"
      />
    </Ui::Form>
  </:body>
</Ui::Window>
