<button
  block:scope
  block:style={{@style}}
  block:is-active={{@isActive}}
  disabled={{@disabled}}
  type={{this.type}}
  {{on "click" this.onClick}}
  ...attributes
>
  {{#if @icon}}
    {{svg-jar @icon class=(style-of block:class="icon" block:has-label=@label)}}
  {{/if}}
  {{#if @label}}
    <div block:class="label">
      {{@label}}
    </div>
  {{/if}}
</button>
