<div
  block:scope
  block:size={{this.size}}
  block:has-breadcrumb={{this.breadcrumb.hasRoutes}}
  ...attributes
>
  {{#if this.isDevelopment}}
    <AnimatedTools @hideUntilKeys="Shift-KeyD" />
  {{/if}}

  <div block:class="notifications">
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Notification @flash={{flash}} />
    {{/each}}
  </div>

  <div block:class="headline" data-in-element="application-headline">
    {{!-- Placeholder for application headline --}}
  </div>

  <div block:class="navigation" data-in-element="application-navigation">
    {{!-- Placeholder for application navigation --}}
  </div>

  <div block:class="header">
    <Application::Header />
  </div>

  <div block:class="content">
    {{yield}}

    <div block:class="modal" data-in-element="application-modal">
      {{!-- Placeholder for modals --}}
    </div>
  </div>

  <div block:class="breadcrumb">
    <Application::Breadcrumb />
  </div>

  <Application::Confirm />

  <Application::CookieNotice
    @toggleCookieNotice={{this.toggleCookieNotice}}
    @showCookieNotice={{this.showCookieNotice}}
  />
</div>
